@import "tailwindcss";

@theme {
  --font-sans: var(--font-en-sans), var(--font-zh-sans);
  --font-mono: var(--mono);
}

@layer utilities {
  .scrollbar-gutter-stable {
    scrollbar-gutter: stable;
  }
}
